<!DOCTYPE html>
<html>
<head>
    <title>Rest app</title>
    <link rel="stylesheet" href="proto/build/css/the-guide-styles-responsive.css">
    <script src="proto/js/jquery.js"></script>
    <script src="proto/js/angular.js"></script>
    <script src="proto/js/angular-animate.min.js"></script>
    <script src="proto/js/angular-resource.min.js"></script>
    <script src="proto/js/angular-sanitize.min.js"></script>
    <script src="proto/js/angular-touch.min.js"></script>
    <script src="proto/js/spectingular-core.min.js"></script>
    <script src="proto/js/spectingular-components.min.js"></script>
    <script src="proto/js/gFooter.min.js"></script>
    <script src="proto/js/gFooterData.js"></script>
    <script src="proto/js/gTopNavigation.min.js"></script>
    <script src="proto/js/gTopNavigationData.js"></script>

    <script src="proto/js/theguide-checkbox.min.js"></script>
    <script src="proto/js/theguide-collapsible.min.js"></script>
    <script src="proto/js/theguide-comparator.min.js"></script>
    <script src="proto/js/theguide-comparison-table.min.js"></script>
    <script src="proto/js/theguide-full-cover.min.js"></script>
    <script src="proto/js/theguide-icon.min.js"></script>
    <script src="proto/js/theguide-image.min.js"></script>
    <script src="proto/js/theguide-list.min.js"></script>
    <script src="proto/js/theguide-radio.min.js"></script>
    <script src="proto/js/theguide-ribbon.min.js"></script>
    <script src="proto/js/theguide-split-list.min.js"></script>
    <script src="proto/js/theguide-tabs.min.js"></script>
    <script src="proto/js/theguide-toggle.min.js"></script>
    <script src="proto/js/theguide-utils.min.js"></script>
</head>

<body class="tg print-hide-search" ng-app="NameListApp" ng-controller="nameController">
<!--<input type="text" ng-model="nameFilter" placeholder="Search..."/>-->
<!--<table>-->
    <!--<thead>-->
    <!--<tr><th colspan="4">Great list of names</th></tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--&lt;!&ndash;<tr ng-repeat="name in nameList | filter: searchFilter">&ndash;&gt;-->
    <!--<tr ng-repeat="name in nameList">-->
        <!--<td>{{$index + 1}}</td>-->
        <!--<td>-->
            <!--{{name.firstName}}&nbsp;{{name.lastName}}-->
        <!--</td>-->
        <!--<td>{{name.birthday}}</td>-->
    <!--</tr>-->
    <!--<h1>{{whoami}}</h1>-->
    <!--</tbody>-->
<!--</table>-->
<!-- BEGIN: Panels 'Wij helpen u graag' -->
<aside class="full-cover h-bg-b l-mb-n4" role="complementary" aria-labelledby="we-help-title">

    <div class="container">
        <header class="full-cover-heading">
            <h2 class="full-cover-title" id="we-help-title">Offers selected for you!</h2>
        </header>

        <div class="row">

            <div class="col-xxs-12 col-sm-6 col-lg-6">
                <div class="panel panel-shadow-a h-bg-a">
                    <div class="panel-heading">
                        <h3 class="panel-title panel-title-primary l-mb-05 ">Great list of names</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-icons list-linklist" ng-repeat="name in nameList">
                            <li>
                                <a target="_blank" href="#">{{$index + 1}}:&nbsp;{{name.firstName}}&nbsp;{{name.lastName}} with birthday {{name.birthday}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xxs-12 col-sm-6 col-lg-6">
                <div class="panel panel-shadow-a h-bg-a">
                    <div class="panel-heading">
                        <h3 class="panel-title panel-title-primary l-mb-05 ">The great api says</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="list-icons list-linklist">
                            <li>
                                <a target="_blank" href="#">{{whoami}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</aside>
<!-- END: Panels 'Wij helpen u graag' -->
</body>
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.js"></script>-->
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
</body>

</html>